html {
    scroll-behavior: smooth;
    scroll-padding: 10px;
    color:white;
    font-size: 1.3rem;
    text-align: center;
}

body { /*Website Background*/
    background-image: url(Images/Background.jpg);
    background-size: cover; /* No wrap on the background image */
    margin: 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px); /*Add blur to the back of the item*/
}

a { cursor: pointer; color:white; text-decoration: none; /*Removes blue underline from link*/ }

h3, ul { text-align: left; margin-top: 60px; margin-bottom: 10px; }

li { list-style: none }

hr { height:1px; background-color: gray; width: 90%; }

img {
    max-width: 90%; 
    height: auto; 
    display: block; 
    margin: 0 auto;    
    border-radius: 8px;
}

button{
    padding:10px;
    color:black;
    border: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px; 
    font-size: medium;
    font-weight: 600;
    padding: 10px 50px;
}

button:hover{
    color:white;
    border:0px;
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}

.back{ /*Black box to display items*/
    margin:27px;
    width: 100vw;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.75);
    border-radius: 10px;
    backdrop-filter: blur(10px); /*Add blur to the back of the item*/
}

.devicon{ display:flex; flex-wrap:wrap; justify-content: center; img{ height:5vh; min-height: 40px; margin: 5px;} }

.links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 30px;
    a{ margin: 5px; }
    img{ height:5vh; min-height: 40px; margin: 5px;}
}

.hidden { opacity: 0; filter:blur(5px);  transition: all 1s;  transform: translateY(10%); }

.show { opacity:1; filter:blur(0px); transform: translateY(0%); }

#profile{ height:auto; width: 20vh; min-width:170px; max-width: 500px; border-radius: 100%; }

@media (max-width: 420px) {
    body {
        font-size: 19px;
    }
    .devicon, .links{ margin:0; display:grid; flex-wrap:wrap; place-items: center; img{  min-height: 40px; margin: 10px;} }
    
    li{margin:10px;}
}
