.name {
  font-size: 2rem;
}

#profile {
  height: auto;
  width: 20vh;
  min-width: 170px;
  max-width: 500px;
  border-radius: 100%;
  margin-top: 50px;
}

.links {
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
}

.links img {
  width: 20px;
  height: auto;
  margin: 0 15px 0 0;
  padding: 0;
}

.outline {
  background-color: transparent;
  cursor: pointer;
  border-color: rgb(137, 180, 250);
  color: rgb(137, 180, 250);
}

@media (max-width: 600px) {
  .contato {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
