.name {
  font-size: 2rem;
}

#profile {
  height: auto;
  width: 20vh;
  min-width: 170px;
  max-width: 500px;
  border-radius: 100%;
  margin-top: 50px;
}

.outline {
  background-color: #181825;
  cursor: pointer;
  border-color: rgb(137, 180, 250);
  color: rgb(137, 180, 250);
}
.fix {
  padding-bottom: 1px;
}
