.card {
  font-size: 16px;
  font-optical-sizing: auto;
  display: flexbox;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: #45475a;
  max-width: 310px;
  border-radius: 14px;
  box-shadow: 2px 3px black;
  margin: 10px;
}
.cardImg {
  width: 100%;
  max-height: 168px;
  border-radius: 12px 12px 0px 0px;
}
.tag {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0 15px 0;
}
.card h3 {
  font-size: 20px;
}
.description {
  margin: 20px;
}
.profile {
  font-size: 16px;
  font-weight: 800;
}
