@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding: 10px;
  color: #cdd6f4;
  font-size: 1.25rem;
  text-align: center;
  font-family: roboto, sans-serif;
}

body {
  /*Website Background*/
  background: #1e1e2e;
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none; /*Removes blue underline from link*/
}

h3 {
  text-align: left;

  margin-bottom: 10px;
}

hr {
  height: 1px;
  background-color: gray;
  width: 80%;
}

button {
  color: #11111b;
  background-color: #89b4fa;
  border-radius: 25px;
  border: 2px solid black;
  border-color: rgb(137, 180, 250);
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px 40px;
  text-decoration: none;
}

p {
  max-width: 60vw;
  margin: auto;
}

.back {
  /*Black box to display items*/
  margin: 27px;
  width: 100vw;
  max-width: 1500px;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(10%);
}

.hidden p,
h3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}

.exp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  justify-content: space-evenly;
}

@media (max-width: 550px) {
  
  .links {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }

  .icons {
    
    font-size: 14px;
    justify-content: start;
  }
}

@media (max-width: 350px) {
  .header-links {
    flex-wrap: wrap;
  }

  .header-links button {
    width: 80vw;
  }
}
