@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Global Styles */
html {
  scroll-behavior: smooth;
  scroll-padding: 10px;
  color: #cdd6f4;
  font-size: 1.25rem;
  text-align: center;
  font-family: roboto, sans-serif;
}

/* Global Elements */
a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

button {
  color: #11111b;
  background-color: #89b4fa;
  border-radius: 25px;
  border: 2px solid black;
  border-color: rgb(137, 180, 250);
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px 40px;
  text-decoration: none;
}

h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

p {
  max-width: 1500px;
  margin: 0 15px 0 15px;
}

section {
  margin-bottom: 0;
}

body {
  background: #1E1E2E;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Layout Styles */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.project-row {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}

.project-row h4 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  display: block;
}

.card-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animations */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(10%);
}

.hidden p,
h3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}

/* Responsive Design */
@media (max-width: 635px) {
  .links {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }

  .icons {
    font-size: 14px;
    justify-content: start;
  }
}

@media (max-width: 550px) {
  .links {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
  }

  .icons {
    width: 75%;
    font-size: 14px;
    justify-content: start;
  }
}

@media (max-width: 350px) {
  .header-links {
    flex-wrap: wrap;
  }

  .header-links button {
    width: 80vw;
  }
}

.header-links button {
    width: 80vw;
}
